/******************************************************************
Site Name:
Author:

Stylesheet: Typography

******************************************************************/

@font-face {
  font-family: 'aregular';
  src: url('../fonts/regular/regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/regular/regulareot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/regular/regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/regular/regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/regular/regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/regular/regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'abold';
  src: url('../fonts/bold/bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bold/bold?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bold/bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bold/bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bold/bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bold/bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

// font stacks
$regular: 'aregular', Arial, sans-serif;
$bold: 'abold', Arial, sans-serif;


p {
  -ms-word-wrap: keep-all;
  word-break: keep-all; //non-standart css for webkit
  word-wrap: keep-all;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: none;
     -moz-hyphens: none;
          hyphens: none;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}

