/******************************************************************

Stylesheet: Button Styles

******************************************************************/

%btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $white;
  font-size: 0.9em;
  font-size: 34px;
  line-height: 34px;
  font-weight: normal;
  padding: 0 24px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.blue-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $blue-dark;

  &:hover,
  &:focus {
    background-color: darken($blue-dark, 4%);
  } // end hover

  &:active {
    background-color: darken($blue-dark, 5%);
  } // end active

} // end blue button
