/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/

a, a:visited {
	@include transition(all 0.2s ease-in-out);

	&:hover, &:focus {
		color: $gray-medium;
		border-color: $gray-medium;
	}

}

.header-container {

	.header {

		.header-action {

			#ask {
			}

			&.active {

				#ask {
					width: 520px;
				}
			}
		}
	}
}

.main-container {
	padding: 60px 0 0 0;
}


.card, .header {
	width: 540px;
	margin: 0 auto;
}

.card {
	margin-top: 30px;

	.card-main {
		padding: 40px 60px;
		.btn-answer {
			&:hover {
				background-color: $black;
				color: $white;
			}
		}
	}
}

#slide-ask {
	width: 540px;

    #slidecontent {

	    li {
	    	a {
	    		&:hover {
	    			color: $red;
	    			border-color: $red;
	    		}
	    	}
	    }
	}
}

#slide-menu {
	width: 540px;

    #slidecontent {

	    li {
	    	a {
	    		&:hover {
	    			color: $red;
	    			border-color: $red;
	    		}
	    	}
	    }
	}
}