/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body, html {
	height: 100%;
	font-family: $regular;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $gray-light;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	margin: 0;
  	padding: 0;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LINKS
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;
	border-bottom: 2px solid $black;

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
TYPO
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-family: $bold;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 3.5em;
	line-height: 1.333em;
	font-weight: 700;
	color: $gold;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
	font-weight: 800;
}

h3, .h3 {
	font-size: 1.3em;
	line-height: 1.333em;
	font-weight: 700;
	color: $gold;;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER
*********************/

.header-container {
	width: 100%;
	display: block;
	height: 50px;
	background-color: $white;
	position: fixed;
	top: 0;
	left: 0;

	.header {
		display: block;
		margin: 0 auto;

		div {
			display: inline-block;
		}

		.header-action {
			float: right;

			#ask {
				position: relative;
				z-index: 10;
				background-color: $white;
				border: 1px solid $black;
				color: $gray-medium;
				height: 34px;
				margin-top: 6px;
				font-size: .8em;
			}

			&.active {
				float: left;
				margin: 20px;

				#ask {
					width: 280px;
					color: $black;
					height: 44px;
					font-size: 1em;
				}
			}
		}

		// NAV ICON

		#nav-icon {
			position: relative;
			top: 0;
			right: 0;
			z-index: 9999999;
			vertical-align: middle;
			width: 26px;
			height: 20px;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			cursor: pointer;
			margin: 0 10px;

		  	span {
				display: block;
				position: absolute;
				height: 3px;
				width: 100%;
				background: $red;
				border-radius: 4px;
				opacity: 1;
				left: 0;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: .25s ease-in-out;
				-moz-transition: .25s ease-in-out;
				-o-transition: .25s ease-in-out;
				transition: .25s ease-in-out;

			  	&:nth-child(1) {
				  	top: 0px;
				}

				&:nth-child(2), &:nth-child(3) {
				  	top: 8px;
				}

				&:nth-child(4) {
				  	top: 16px;
				}
			}

			&.open span {
				background: $white;

				&:nth-child(1) {
				  top: 10px;
				  width: 0%;
				  left: 50%;
				}

				&:nth-child(2) {
				  -webkit-transform: rotate(45deg);
				  -moz-transform: rotate(45deg);
				  -o-transform: rotate(45deg);
				  transform: rotate(45deg);
				}

				&:nth-child(3) {
				  -webkit-transform: rotate(-45deg);
				  -moz-transform: rotate(-45deg);
				  -o-transform: rotate(-45deg);
				  transform: rotate(-45deg);
				}

				&:nth-child(4) {
				  top: 10px;
				  width: 0%;
				  left: 50%;
				}
			}
		}
	}
}

// MENU + OVERLAY

#slide-ask {
	display: none;
    background: $green;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0px;
    padding-left: 0;
    z-index: 50;
    margin: 0 auto;
    z-index: 9;
    padding-top: 60px;

    #slidecontent {
	    padding: 35px;

	    li {
	    	margin-bottom: 20px;
	    	a {
	    		color: $white;
	    		border-color: $white;
	    	}
	    }
	}
}

#slide-menu {
	display: block;
    background: $black;
    position: absolute;
    width: 100%;
    height: 300px;
    top: -400px;
    padding-left: 0;
    z-index: 50;
    margin: 0 auto;

    #slidecontent {
	    padding: 35px;

	    li {
	    	margin-bottom: 20px;
	    	a {
	    		color: $white;
	    		border-color: $white;
	    	}
	    }
	}
}

.overlay {
    display: none;
    background-color: $black;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity = 50); /* IE7 & 8 */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

/*********************
CARDS
*********************/

.main-container {
	padding: 60px 10px 0 10px;
}

.card {
	display: block;
	border-radius: 4px;
	background-color: $white;
	width: 100%;
	height: 100%;
	font-size: .8em;

	// CARD HEADER

	.card-header {
		padding: 20px;

		div {
			display: inline-block;
		}
	}

	// CARD MAIN

	.card-main {
		background: url('../images/bg-01.jpg');
		padding: 40px 20px;
		background-size: cover;

		.question {
			display: block;
			color: $white;
			font-family: $bold;
			font-size: 1.5em;
			text-align: center;
		}

		.btn-answer {
			background-color: rgba($white, 0.85);
			padding: 12px 24px;
			border-radius: 4px;
			text-align: center;
			margin-top: 20px;
		}
	}

	// CARD FOOTER

	.card-footer {
		padding: 20px;

		div {
			display: inline-block;
			text-align: center;
		}
	}

}

/******************************************************************
FORMS
******************************************************************/

#contact {
	li {
		margin-bottom: 1em;
	}

	label {
		display: block;
		width: 100%;
	}

	#submit {
		float: left;
	}
}

#success, #error {
    display:none
}

#success span, #error span {
    display: block;
    width: 100%;
}

#success span p, #error span p {
}

#success span p {
    color: $gold;
}

#error span p {
    color: $black;
}
